# Evolution API
AUTHENTICATION_API_KEY=sua_chave_aqui
SERVER_URL=http://localhost:8080

# Vox Backend
EVOLUTION_API_KEY=sua_chave_aqui
MONGO_URI=mongodb://mongodb:27017/voxbairro
REDIS_HOST=redis
REDIS_PORT=6379
EVOLUTION_API_URL=http://evolution-api:8080
PORT=3000

# WhatsApp Meta (Opcional - caso use API Oficial)
WHATSAPP_META_APP_SECRET=seu_secret_aqui
WHATSAPP_WEBHOOK_VERIFY_TOKEN=seu_token_de_verificacao
